aoi=#69D2E7
aoi_rgb=rgb(105,210,231)
clean_pondwater=#A7DBD8
clean_pondwater_rgb=rgb(167,219,216)
beach_storm=#E0E4CC
beach_storm_rgb=rgb(244,228,204)
giant_goldfish=#F38630
giant_goldfish_rgb=rgb(243,134,48)
unreal_food_pill=#FA6900
unreal_food_pill_rgb=rgb(250,105,0)
rock_my_world=#547980
rock_my_world_rgb=rgb(84,121,128)
med_green=#45ADA8
med_green_rgb=rgb(69,173,168)
negro_gris=#212121

img
	width 100%
a 
	color aoi
	text-decoration none
li
	list-style none
body
	background negro_gris
	font-size 16px
	header
		background med_green
		margin 0
		padding 5px 0
		position relative
		width 100%
		figure
			margin 0 0 0 4%
			padding 0
			width 50px
		#perfil
			background rock_my_world
			border-radius 4px
			position absolute 
			top 5px
			right 4%
			height 50px
			width 50px
	nav
		background rock_my_world
		padding 5px 0
		width 100%
		.menu
			margin 0 0 0 4%
			padding 0
			li
				display inline-block
				a
					color #EEE
					display block
					margin 2px 4px
					padding 6px 8px
				:hover
					border-radius 4px
					background rgba(21,21,21,0.4)
			#publicar
				background aoi
				float right
				margin 0 4% 0 0
				border-radius 4px
				:hover
					background unreal_food_pill
	section
		background #FFF
		border-radius  0 0 2px 2px 
		margin 0 auto
		padding 10px 0
		width 95%
